@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    /* height: 100vh; */
}
.info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.logo {
    margin: 40px 0 0 5% ;
    display: flex;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index: 100;
    align-self: center;
}

.head {
    color: white;
    z-index: 100;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    margin-top: 0px;
    padding-left: 20px;
}

.typing {
    color: white;
    z-index: 100;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    padding-left: 20px;
    font-size: 20px;
    margin-top: -20px;
    word-spacing: 1px;
}

.typing-1 {
    color: goldenrod;
    line-height: 35px;
    font-size: 25px;
}



.content p {
    color: white;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 109.52%;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: -230px; */
}
.image img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* margin: 10% auto; */
}
.hand-btn {
    display: flex;
    justify-content: flex-end;
}
.hand-btn a{
    padding-right: 5%;
}
.hand-btn img{
    width:100px ;
    height: auto;
    animation: wiggle 2s;
    animation-iteration-count: infinite;
}
@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}
@media (max-width: 750px) {
    .head{
        font-size: 20px;
    }
    .typing-1{
        font-size: 18px;
    }
}
@media (max-width: 550px) {
    .logo img {
        width: 80px;
        height: 80px;
    }
    .head {
        font-size: 18px;
        padding-left: 0;
    }
    .typing{
        padding-left: 0;
    }
    .typing-1 {
        font-size: 14px;
        line-height: 10px;
    }
    .content p{
        font-size: 25px;
    }
}