.landing-page {
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.metamorphoo-image img {
    height: 705px;
    width: 572px;
    margin-left: -600px;
    object-fit: contain;
}

.icons {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 50px;
}

.icons img {
    width: 102px;
    height: 42px;
    object-fit: contain;
    margin-bottom: -30px;
}

.icons i {
    color: white;
    font-size: 40px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.line {
    height: 65px;
    width: 0px;
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 5px;
    border: 1px solid #FFFFFF;
}

.line-2 {
    height: 70px;
    width: 0px;
    margin-top: -20px;
    /* margin-top: 25px; */
    margin-left: 50px;
    margin-bottom: 5px;
    border: 1px solid #FFFFFF;
}

@font-face {
    font-family: Suavity;
    src: url(../fonts/The\ Suavity.woff);
}

.our-books p {
    color: white;
    font-family: Suavity;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    margin: 0;

}

.who p {
    color: white;
    font-family: Suavity;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    margin: 0;
}

.who img {
    margin-top: 0px;
    width: 460px;
    height: 51px;
}

.who {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.who-content {
    color: white;
    width: 889px;
    height: 209px;
    align-self: center;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 169.02%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

.book-content {
    color: white;
    width: 509px;
    height: 364px;
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 210.02%;

}

.book-img img {
    width: 578.47px;
    height: 578.47px;
    /* object-fit: contain; */
}

.ourbooks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.viewmorebooks {
    position: absolute;
    width: 215px;
    height: 43px;
    background-color: black;
    color: white;
    border: 2px solid #E8E8E8;
    border-radius: 20px;
    margin-top: 70px;
    margin-left: 200px;
}


.support {
    background-image: url(../images/metamorphoo\ 2.png);
    height: 100vh;
    margin: 0%;
}