@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    /* height: 100vh; */
}
.landing-page {
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.metamorphoo-image img {
    height: 705px;
    width: 572px;
    margin-left: -600px;
    object-fit: contain;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-left: 50px;
}

.icons img {
    width: 102px;
    height: auto;
    object-fit: contain;
    margin-bottom: -30px;
}
.icons i {
    color: white;
    font-size: 40px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}
.line {
    height: 70px;
    width: 0px;
    margin-bottom: 5px;
    border: 1px solid #FFFFFF;
}

@font-face {
    font-family: Suavity;
    src: url(../fonts/The\ Suavity.woff);
}
hr{
    background: white;
    border: none;
    width: 80%;
    height: 1px;
    margin-top: 50px;
}
.wavy-line{
    width: 50%;
    height: auto;
}
.our-books p {
    color: white;
    font-family: Suavity;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    margin: 0;

}
.who-div{
    padding:100px 20% ;
    margin: 50px auto;
}
.who-heading p {
    color: white;
    font-family: Suavity;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    margin: 0;
}

.who-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.books-div{
    padding: 100px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.our-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.who-content {
    margin-top: 20px;
    color: white;
    align-self: center;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 169.02%;
    text-align: center;
}

.book-content {
    color: white;
    width: 509px;
    height: auto;
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 210.02%;
}

.book-img img {
    width: 400px;
    height: auto;
    object-fit: contain;
}

.ourbooks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.viewmorebooks {
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: 2px solid #E8E8E8;
    border-radius: 20px;
    margin-top: 70px;
}
.view-a{
    display: flex;
    justify-content: center;
}
.view-a:hover{
    text-decoration: none;
}
.bootcamp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}
.boot-img{
    width: 500px;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}
.sponsor-btn{
    padding: 10px 30px;
    background-color: #678e48;
    color: white;
    border: 0;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 70px;
}
@media (max-width: 1150px) {
    .books-div, .who-div{
        padding: 40px 5%;
    }
    .book-img{
        margin-bottom: 30px;
    }
    .book-content{
        text-align: center;
    }
}
@media (max-width:750px) {
    .header{
        background: url(../images/mt4\ pic.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .metamorphoo-image img{
        display: none;
    }
    .books-div, .who-div {
            padding: 35px 8%;
        }
    .book-img img{
        width: 250px;
    }
}